// Font
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk&display=swap');

$font-family-sans-serif: 'Schibsted+Grotesk', sans-serif;

// Colors
$theme-colors: (
  'primary': #00462F,
  'info': #bbb,
  'dark': #011b10,
  'light': #eee,
  'secondary':#b7bf96,
);

// Navbar
$navbar-padding-y: 2rem;
$navbar-brand-font-size: 2rem;
$nav-link-font-size: 0.9rem;

// Spacing
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer * 0.75,
    4: $spacer,
    5: $spacer * 1.5,
    6: $spacer * 3,
    7: $spacer * 6,
    8: $spacer * 8, 
    9: $spacer * 12,
) !default;

$input-placeholder-color:               #aaa;

@import '~bootstrap/scss/bootstrap';